﻿@using(Html.BeginForm("Result","Search",FormMethod.Post)) {
        
       <p>Поиск по полю: @Html.DropDownList("SearchField", (SelectListItem[])ViewData["Fields"])</p>
    
       <p>Тип поиска: @Html.DropDownList("SearchType", new SelectListItem[] { 
                  new SelectListItem { Text = "Содержит", Value = "like", Selected = true },
                  new SelectListItem { Text = "Точное вхождение", Value = "exact", Selected = false }
                                                                              })</p>
       <p>Поиск: @Html.TextBox("SearchRequest")</p>
       
       <input type="submit" value="Поиск" />
}
@Html.ValidationSummary()