﻿@model CROSYS_TEST.Models.Search

@{
    ViewBag.Title = "Результат";
}

<h1>Результат</h1>

@RenderPage("~/Views/Search/_search_panel.cshtml")
<a class="open_window" href="#" >отобразить в окне</a><br><br>
<table id="results">
<thead>
<tr>
@foreach (var fieldName in Model.Fields)
{
    <th>@fieldName</th>
}
</tr>
</thead>
<tbody>
@foreach (var row in Model.SearchResult)
{
   <tr>
   @foreach (var fieldName in Model.Fields)
   {
    <td>@row[fieldName]</td>
   }
   </tr>
}
</tbody>
</table>


<div class="overlay" title="окно"></div>
<div class="popup">
<div class="close_window">x</div>
<p>
    <table id="results_pop">
    <thead>
    <tr>
    @foreach (var fieldName in Model.Fields)
    {
        <th>@fieldName</th>
    }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.SearchResult)
    {
       <tr>
       @foreach (var fieldName in Model.Fields)
       {
        <td>@row[fieldName]</td>
       }
       </tr>
    }
    </tbody>
    </table>
</p>
</div>


@section scripts{
<!--@Styles.Render("http://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css")
@Scripts.Render("http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js")
@Styles.Render("~/Content/flexigrid.css")
@Scripts.Render("~/Scripts/flexigrid.js")-->
@Styles.Render("~/Content/jquery.dynatable.css")
@Scripts.Render("~/Scripts/jquery.dynatable.js")
@Scripts.Render("~/Scripts/Result.js")
}