﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderPage("~/Views/Shared/_menu.cshtml")
    

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                $('.popup .close_window, .overlay').click(function () {
                    $('.popup, .overlay').css('opacity', '0');
                    $('.popup, .overlay').css('visibility', 'hidden');
                });
                $('a.open_window').click(function (e) {
                    $('.popup, .overlay').css('opacity', '1');
                    $('.popup, .overlay').css('visibility', 'visible');
                    e.preventDefault();
                });
            });
</script>
</body>
</html>
